@import "../../styles/variables.scss";
@import "../../styles/responsiveness.scss";

.menu{
     
    .item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        .title{
            font-size: 12px;
            font-weight: 300;
            color: $secondary;
            text-transform: capitalize;

            @include lg{
              display: none;
            }
        }

        .listItem{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            border-radius: 8px;
         
          
            img{
            width: 28px;
            height: 30px;
            }

            &:hover{
                background-color: $accent;
                color: $primary;
            }

            .listItemTitle{
                @include lg{
                    display: none;
                  }
            }
        }
    }
}