@import "../../styles/variables.scss";
@import "../../styles/responsiveness.scss";

.navbar{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 

    .logo{
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: large;
        gap: 10px;
        letter-spacing: 4px;
        img{
            width: 110px;
            height: 40px;
            object-fit: cover;
          }
    }

    .icons{
        display: flex;
        align-items: center;
        gap: 20px;
        img{
            width: 28px;
            height: 25px;
          }
        .searchinputContainer{
            border: 1px solid $border;
            padding: 5px 10px;
            display: flex;
            border-radius: 30px;
            @include sm{
                display: none;
            }
          img{
            width: 25px;
            height: 25px;
          }
            input{
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
            }
        }
        .icon{
            @include sm{
                display: none;
            }
        }

        .notification{
            @include xsm{
                display: none;
            }
        position: relative;
            span{
                background-color: red;
                color: white;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                position: absolute;
                top: -10px;
                right: -10px;
               display: flex;
               align-items: center;
               justify-content: center;
               font-size: 12px;
            }
        }
        .user{
            @include xsm{
                display: none;
            }
            display: flex;
            align-items: center;
            gap: 10px;
            
            img{
                width: 26px;
                height: 26px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}