@import "../../styles/responsiveness.scss";

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    @include xsm {
        flex-direction: column;
        gap: 20px;
      }

    span{
        &:first-child{
         font-weight: bold;
         letter-spacing: 3px;
         font-size: 18px;
         font-weight: 300;
         @include xsm {
          display: none;
          }

        }

        &:last-child{
            font-size: 14px;
            font-weight: 100;
            
           }
    }

    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .box{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }
}